@font-face {
	font-family: 'Munro';
	src: local('Munro'), url(./assets/fonts/munro.ttf) format('truetype');
}

@font-face {
	font-family: 'm23';
	src: local('m23'), url(./assets/fonts/m23.TTF) format('truetype');
}

body {
	margin: 0;
	font-family: 'Munro';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
